/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #303030; /*Set palette bg default globally to fix errors */
}

.header,
.about {
  color: #fff;
}

.headerIcon {
  padding-left: 1%;
  transform: scale(1.5);
}

.headerBox {
  display: flex;
  justify-content: space-between;
}

.App {
  text-align: center;
}

.dropdownItem,
.stockIcon {
  text-decoration: none;
  color: inherit;
}

.introPage {
  padding-bottom: 20%;
  margin: 5% 15% 10% 15%;
}

.icons {
  transform: scale(1.8);
  width: 20vw;
  height: 20vh;
}

.iconReddit {
  fill: #ff5700;
}

.tableOptionsButtons {
  color: #fff;
}

.tablePg {
  max-width: 80%;
  margin: auto;
}

.stockTable {
  margin-bottom: 10%;
}

.slider-wrap {
  color: #fff;
  text-align: center;
  width: 100%;
  height: 45px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  border: 2px;
  overflow: hidden;
}

.slider-wrap h2 {
  margin: 0px;
}

.slider-move {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
}

.slide {
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
  padding: 10px;
}

@keyframes slideh {
  0% {
    left: 0;
  }
  20% {
    left: 100%;
  }
  40% {
    left: 200%;
  }
  60% {
    left: 300%;
  }
  80% {
    left: 400%;
  }
  100% {
    left: 0;
  }
}

/* Move animation */
.slider-move {
  animation: slideh linear 10s infinite;
}

/* Pause slider on hover */
.slider-move:hover {
  animation-play-state: paused;
}
