/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #303030; /*Set palette bg default globally to fix errors */
  overflow-x: hidden;
}

.header,
.about {
  color: #fff;
}

.headerIcon {
  padding-left: 1%;
  transform: scale(1.5);
}

.headerBox {
  display: flex;
  justify-content: space-between;
}

.App {
  text-align: center;
}

.dropdownItem,
.stockIcon {
  text-decoration: none;
  color: inherit;
}

.introPage {
  padding-bottom: 20%;
  margin: 10% 15% 10% 15%;
}

.icons {
  transform: scale(1.8);
  width: 20vw;
  height: 20vh;
}
/* 
.iconReddit {
  fill: #ff5700;
} */

.tableOptionsButtons {
  color: #fff;
}

.tablePg {
  max-width: 80%;
  margin: auto;
}

.stockTable {
  margin-bottom: 10%;
}

.slider-div {
  color: #fff;
  text-align: center;
  left: 0%;
  width: 100%;
  height: 45px;
  top: 70px;
  background: rgb(0, 0, 0);
  /* border-radius: 5px;
  border: 2px; */
  display: flex;
  position: absolute;
  margin-top: 0.5%;
  margin-bottom: 5%;
}

/* Div for animation text */
.sliding-text {
  left: -20px;
  top: -10px;
  position: absolute;
  overflow: hidden;
  display: flex;
  animation-name: ticker-slide;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sliding-text h2 {
  /* word-spacing: 100px; */
  top: 75px;
}

/* Keyframes for animation */
@keyframes ticker-slide {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(1500px);
  }
}
